/* --------------------------
PREIMPOSTAZIONE COLORI E FONT
-------------------------- */
:root{
    --myYellow: rgb(255, 186, 10);
    --lightY: #fffae5;
    --myBlack: rgb(0, 8, 20);
}

*{
    font-family: 'Chakra Petch', sans-serif;
}

.bg-lightY{
    background-color: var(--lightY);
}
.bg-myBlack{
    background-color: var(--myBlack);
}
.bg-yellow{
    background-color: var(--myYellow);
}

.txt-yellow{
    color: var(--myYellow);
}
.txt-lightY{
    color: var(--lightY);
}
.txt-myBlack{
    color: var(--myBlack);
}

body{
    background-color: var(--lightY);
}

/* ----------
NAVBAR CUSTOM 
------------*/
.img-logo{
    width: 50px;
    height: 50px;
}

.nav-link{
    color: var(--myBlack);
}

.btn-logout{
    border: none;
    background: none;
}

.profile-nav{
    border-radius: 50%;
    border: 1px solid var(--myBlack);
    padding: 1px;
    height: 30px;
    width: 30px;
}

.dropdown-menu{
    background: var(--myYellow);
    border: 1px solid var(--myBlack);
}

.dropdown-item:hover{
    background: var(--lightY);
}

/* ----------
HEADER CUSTOM 
------------*/
.home-header{
    background-image: url(/public/media/header.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}


.btn-custom{
    background-color: var(--myYellow);
    border: 2px solid var(--myBlack);
    color: var(--myBlack);
}

.h-custom{
    height: 500px;
}

ul{
    list-style: none;
}

/* ---------------------
SECTION CHI SIAMO CUSTOM 
------------------------*/
.imgLogo{
    border-radius: 50%;
    border: 2px solid var(--myBlack);
    padding: 2px;
    height: 60px;
    width: 60px;
}

.img-section{
    border-radius: 50%;
    
    border: 2px solid var(--myBlack);
    padding: 2px;
    height: 340px;
    width: 340px;
}

/* ----------
MEDIA QUERIES
------------*/
@media (max-width: 768px) {
    #noPhone{
        display: none;
    }
}

/* ---------
SHOP CUSTOM 
-----------*/
.shop-index-h{
    min-height: 100vh;
}
/* ----------
FILTER CUSTOM 
------------*/
.accordion-button{
    background-color: var(--lightY);
    border: 1px solid var(--myBlack);
    color: var(--myBlack);
}

.accordion-button:not(.collapsed){
    background-color: var(--lightY);
    color: var(--myBlack);
}

.accordion-item{
    background-color: var(--lightY);
    border: 1px solid var(--myBlack);
    color: var(--myBlack);
}

.form-check-input{
    background-color: var(--lightY);
    border: 1px solid var(--myBlack);
}

.form-check-input:checked{
    background-color: var(--myYellow);
    border: 1px solid var(--myBlack);
}

.form-check-input:focus{
    color: var(--myYellow);
}

.form-control{
    background-color: var(--lightY);
    border: 1px solid var(--myBlack);
    color: var(--myBlack);
}

.input-group-text{
    background-color: var(--myYellow);
    border: 1px solid var(--myBlack);
}

.input-group{
    width: 250px;
}

.form-control:focus{
    color: var(--myBlack);
    background-color: var(--lightY);
    box-shadow: 0 0 0 0.20rem rgba(255, 186, 10, 0.5);
    border:1px solid var(--myBlack);
}

.filtri{
    height: 300px;
    width: 450px;
    border: 1px solid var(--myBlack);
    border-radius: 30px;
}

.accordion-button:focus {
    border-color: var(--myBlack);
    box-shadow: none;
}

/* ----------
CARDS CUSTOM 
------------*/
.card-custom{
    background-color: var(--lightY);
    border: none;
}

.img-card{
    height: 300px;
    width: 300px;
}

/* ----------
ARTICOLO SHOW CUSTOM 
------------*/

.img-show{
    width: 400px;
    height: 250;
}

/* --------------
RECENSIONI CUSTOM 
-----------------*/
.check-stars{
    background: url(/public/media/star-regular.svg), var(--lightY);
    background-position: center;
    border: none;
    box-shadow: none;
}

.bg-star-solid{
    background: url(/public/media/star-regular.svg), var(--lightY);
}

.bg-star-regular{
    background: url(/public/media/star-solid.svg), var(--lightY);
}

.check-stars:focus{
    box-shadow: none;
}

.check-stars:checked{
    background: url(/public/media/star-solid.svg), var(--lightY);
    background-position: center;
    border: none;
    box-shadow: none;
}

.review-card{
    border: 1px solid var(--myBlack);
}

/* ----------
PROFILE CUSTOM 
------------*/
.profile-h-custom{
    min-height: 100vh;
}
.profile-custom{
    border: 1px solid var(--myBlack);
    border-radius: 30px;
}

.imgProfile {
    border-radius: 50%;
    height: 300px;
    width: 300px;  
}

/* ----------
CART CUSTOM 
------------*/
.cart-h-custom{
    min-height: 100vh;
}

.btn-custom2{
    background-color: var(--myBlack);
    border: 2px solid var(--myYellow);
    color: var(--lightY);
}